body{
    background-color: #f6f5f7;
}
* :focus {
    outline-style:none  !important;
    border-style: none !important;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
li{
    list-style-type: none;
    border-bottom: 1px solid white;
}
a{
    text-decoration: none;
}
.container {	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	
}
.inner{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 70%;
    width: 70%;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}
.container .sidebar{
    position: relative;
    background: #045DE9    ;
	background: -webkit-linear-gradient(to bottom, #09C6F9, #045DE9);
	background: linear-gradient(to bottom, #09C6F9, #045DE9);
    height: 100%;   
    width: 20%;    
    overflow: auto; 
}
.friends{
    overflow-y: scroll;
}
.container .chat-space{       
    background-color: rgb(21, 0, 46);
    position: absolute;
    bottom: -17px;
    right: 0;
    height: 10%;
    width: 80%;
    display: flex;
}

.container .chat-space  #send{
    background-color: #fff;
    border-radius: 10px;
    border:none;
    width: 85%;
    height: auto;
    margin: 10px 15px;
    padding: 10px 15px;
}


.container .chat-space #submit{
    border: 2px solid #fff;
    border-radius: 10px ;
    background-color: transparent;
    color:#fff;
    width: 10%;
    margin: 10px 15px;   
}

.myProf{
    position: absolute;
    bottom: 0%;
    display: flex;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    background-color:rgb(21, 0, 46);
    z-index: 2;
}

.profileImg{
    border:2px solid white;
    border-radius: 50%;
    margin: 20px 10px 20px 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.usernameName{
    color:white;    
    margin-top: 20px;    
}

.offline{
    color: #FF416C;
    margin: -12px 0px;
}
.online{
    color: #41ffa6;
    margin: -12px 0px;
}

.logout_btn{
    position: absolute;    
    border-radius: 5px;
    top: 30%;
    line-height: 30px;
    padding:0px 10px;
    text-decoration: none;
    left: 170px;
    height: 30px;
    width: 50px;
    color: white;
    background-color: #09C6F9;
}

.logout_btn:hover{
    background-color:#FF416C;
}

#friends{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.friend{
    display: flex;
}

.friend:hover{
    background-color: rgb(21, 0, 46);
}
.friend:active{
    background-color: rgb(21, 0, 46);
}

.current{
    background-color: rgb(21, 0, 46);
}
.space{
    position: relative;
    display: flex;
    width: 80%;
    height: 90%;
    right: 0;   
}
#space{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    right: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.msg-list{
    position: absolute;
    right: 0;
    top: auto;
    height: auto;   
    width: 100%;
}
.msg-list li{
    display: inline-block;
    clear: both;
    border-bottom: none;
}
.right-side  {          
    float: right;    
    margin: 10px;   
    width: fit-content;
    max-width: 50%;
    overflow-wrap: break-word;
    height: fit-content;
}
.right-side p {  
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 20px;
    background-color: lightseagreen;
    color: white;
}        

.left-side {          
    float: left;    
    margin: 10px;            
    width: fit-content;
    max-width: 50%;
    overflow-wrap: break-word;
    height: fit-content;
}
.left-side p{
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgb(192, 206, 206);
    color: rgb(70, 75, 73);
}
.msg{
    display: flex;
    flex-direction: column;
}
.msg .date{
 color: #555;
 font-size: 10px;
 margin: -5px 20px;

}
.fixed{
    position: absolute;
    right:5%;
    bottom: 10%;
    cursor: pointer;
    
}

#scrollDownBtn{ 
    display: none;
    position: sticky;     
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: white;
    background-color: #FF416C;
    font-size: 25px;
    z-index: 10;
    transition:transform 80ms ease-in-out ;
}

#scrollDownBtn:hover{
    background-color: rgb(240, 94, 94);
}
#scrollDownBtn:active{
    transform: scale(0.95);
}